.no-padding-right {
    padding-right: 0;
}

.no-padding-left {
    padding-left: 0;
}

.right-arrow {
    border-left:  30px solid rgba(238, 21, 68, 1.0);
    border-right: 30px solid transparent;
    border-top:   30px solid rgba(238, 21, 68, 1.0);
    margin: 0 0 20px 0;
}

.left-arrow {
    border-left:  30px solid transparent;
    border-right: 30px solid rgba(238, 21, 68, 1.0);
    border-top:   30px solid rgba(238, 21, 68, 1.0);
}

.titel-text {
    position: absolute;
    height: 30px;
    color: white;
    z-index: 30;
    // margin: 0 0 0 45px;
    // background: rgba(238, 21, 68, 1.0);
}
