<!-- <div class=" sponsor-container box-shadow">
<p style="margin-bottom: 3px">Filter</p>
</div>		 -->
<div class="sponsor-container box-shadow">
	<!-- <h4 class="center-relative-to-parent title-container">Kommande Event {{year}}</h4> -->
	<app-title-bar [text]="titleText"></app-title-bar>
	<div *ngFor="let event of queue | slice: 3; let i = index">
		<!-- <div class="row"> -->
			<div class="col-12 col-md-12" style="padding: 0 0 0 0; position: absolute;">
				<div style="position: absolute; z-index: 100;">					
					<div class="col-md-1" style="padding: 0 0 0 10px;">
						<p style="margin: 0 0 0 0;">{{event.date | date:'MMM'}}</p>
						<p style="margin: 0 0 0 0; transform: translateY(-20%);">{{event.date | date:"dd"}}</p>
					</div>
				</div>
				<div class="arrow col-11 col-sm-11 col-md-11">
				</div>
				<div class="arrow col-1 col-sm-1 col-md-1">
				</div>
				<!-- <div style="background: #242424; width: 48px; transform: translateX(-25%); height: 33px;">
					<p class="center-relative-to-parent" style="margin-bottom: 0px; font-size: 20px;"><strong>{{event.date | date:"dd"}}</strong></p>
				</div> -->
			</div>
			<div class="col-10 offset-3 col-sm-10 offset-sm-3 col-md-10 offset-md-3">
				<p class="side-menu-name">{{event.name}}</p>
				<p class="side-menu-info"><i class="fas fa-map-marker-alt"></i> {{event.location}}</p>
				<p class="side-menu-info"><i class="far fa-clock"></i> {{event.date | date:'HH:mm:ss'}}</p>
				<p class="read-more side-menu-info"  data-toggle="collapse" [attr.data-target]="'#side' + i"><i class="fas fa-plus-circle" style="color: rgb(6,160,224)"></i> Läs mer...</p>
				<div class="collapse" [attr.id]="'side' + i">
					<p class="side-menu-info"><i class="fas fa-user"></i> {{event.host}}</p>
					<a *ngIf="event.fLink" href="{{event.fLink}}" target="_blank" rel="noopener noreferrer" class="fab fa-facebook-square icon read-more"></a>
				</div>
				<div style="margin: 0 0 10px 0;"></div>
			</div>
		<!-- </div> -->
	</div>
</div>