<div class="container crimson-bg h-100">
	<div [ngClass]="!ready ? 'visible' : 'invisible'">
		<load-indicator></load-indicator>
	</div>
</div>
<div [ngClass]="ready ? 'visible' : 'invisible'">
	<div class="container-fluid crimson-bg" style="margin: 20px 0 30px 0;">
		<div class="row justify-content-md-center">
			<div class="col-md-5 col-lg-4 col-xl-3 d-none d-md-block">
				<!-- <div class="box"> -->
					<side-queue [queue]="queue" [size]="'md'"></side-queue>
				<!-- </div> -->
			</div>
			<div class="col-12 col-sm-8 col-md-7 col-lg-7 col-xl-5">			
				<!-- <div class="box"> -->
					<main-queue [queue]="queue" (readyMainQueue)="readyHome($event)"></main-queue>
				<!-- </div> -->
			</div>
		</div>
	</div>
	<!-- SMALL SCREENS -->
	<div class="container-fluid crimson-bg d-md-none" style="margin: -45px 0 0 0;">
		<div class="row justify-content-md-center">
			<div class="col-12 col-sm-8">
				<side-queue [queue]="queue" [size]="'sm'"></side-queue>
			</div>
		</div>
	</div>
</div>


