<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

<router-outlet></router-outlet>

<!-- <div class="d-block d-sm-none debug-col-text"><p style="color: white;">XS</p></div>
<div class="d-none d-sm-block d-md-none debug-col-text"><p style="color: white;">SM</p></div>
<div class="d-none d-md-block d-lg-none debug-col-text"><p style="color: white;">MD</p></div>
<div class="d-none d-lg-block d-xl-none debug-col-text"><p style="color: white;">LG</p></div>
<div class="d-none d-xl-block debug-col-text" ><p style="color: white;">XL</p></div> -->