<div class="main-container box">
	<div *ngIf="arr.length === 0">
		<app-title-bar [text]="'Det var en tom event lista'" 
			[arrowLeft]="'left-arrow-green'" 
			[arrowRight]="'right-arrow-green'"
			></app-title-bar>
		<span class="center-relative-to-parent" style="margin: 0 0 30px 0;">
			<i class="far fa-sad-cry" style="font-size: 300px; color: #046b95;"></i>
		</span>
	</div>	
	<div *ngFor="let event of arr; let i = index">
		<app-title-bar [text]="event.name" 
					   [arrowLeft]="'left-arrow-green'" 
					   [arrowRight]="'right-arrow-green'"
					   ></app-title-bar>
		<h1 class="center-relative-to-parent" style="margin: 5px 0 0 0">
		<div>
			<div class="center-relative-to-parent" [ngStyle]="{'color' : event.days === '00' ? '#87c82e' : 'white'}">
				{{event.days}}
			</div>
			<div class="center-relative-to-parent timer-text-styling">
				Day(s)
			</div>
		</div>
		<div class="vl"></div>
		<div class="timer-width">
			<div class="center-relative-to-parent" [ngStyle]="{'color': event.hours === '00' && event.days === '00' ? '#87c82e' : 'white'}">
				{{event.hours}}
			</div>
			<div class="center-relative-to-parent timer-text-styling">
				Hour(s)
			</div>
		</div>
		<div class="vl"></div>
		<div class="timer-width" >
			<div class="center-relative-to-parent" [ngStyle]="{'color': event.minutes === '00' && event.hours === '00' ? '#87c82e' : 'white'}">
				{{event.minutes}}
			</div>
			<div class="center-relative-to-parent timer-text-styling">
				Minute(s)
			</div>
		</div>
		<div class="vl"></div>
		<div class="timer-width" >
			<div class="center-relative-to-parent" [ngStyle]="{'color': event.seconds === '00' && event.minutes == '00' ? '#87c82e' : 'white'}">
				{{event.seconds}}
			</div>
			<div class="center-relative-to-parent timer-text-styling">
				Second(s)
			</div>
		</div>
		</h1>
		<br>
		<div class="row" style="margin: 0 0 0 0">
			<div *ngIf="event.fLink" class="social-background read-more">
				<a data-toggle="collapse" [attr.data-target]="'#main' + i" class="fas fa-ellipsis-v" style="color: rgb(6,160,224);"></a>
			</div>
			<div *ngIf="event.fLink" class="social-background facebook read-more">
				<a href="{{event.fLink}}" target="_blank" class="fab fa-facebook"></a>
			</div>
			<div *ngIf="event.gLink" class="social-background google read-more">
				<a href="{{event.gLink}}" target="_blank" class="fab fa-google"></a>
			</div>
			{{collapse}}
		</div>
		<br>
		<div class="collapse" [attr.id]="'main' + i">
			<div class="center-relative-to-parent">
				<h5><i class="far fa-calendar-alt"></i> {{event.date}}</h5>
			</div>
			<br>
			<div class="center-relative-to-parent">
				<h5><i class="fas fa-map-marker-alt"></i> {{event.location}}</h5>
			</div>
			<br>
			<div class="center-relative-to-parent">
				<h5><i class="fas fa-user"></i> {{event.host}}</h5>
			</div>
		</div>
	</div>
</div>