.timer-text-size {
    font-size: 10px;
}

h3 {
    color: white;
}

h5 {
    color: white;
}

.title-container {
    background: #87c82e; 
    height: 40px; 
    margin: 0 -15px 0 -15px;
}

.main-container {
    margin-top: 40px;
    background-color: rgba(232, 238, 240, 0.05);
    /* background-color: #242424; */
    overflow: overlay;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
